# Rstudio production files
.Rproj.user
.Rhistory
.RData
.Ruserdata
sessionInfoLog

# Ignore notebooks and scratchpads
*.html

# Ignore compiled files
problems/14/collatz
problems/14/collatz.dSYM
problems/14/collatz2
problems/14/collatz2.dSYM
